#Files to be excluded

.DS_Store
bookapp/node_modules/*
npm-debug.log
/bookapp/.DS_Store


#These files will be NOT excluded
!bookapp/node_modules/DB_Interface.js
!bookapp/node_modules/DB_book.js
!bookapp/node_modules/DB_Interface_Examples.js
!bookapp/node_modules/DB_listing.js
!bookapp/node_modules/DB_user.js
!bookapp/node_modules/levenshtein.js
!bookapp/node_modules/searchHandler.js
!bookapp/node_modules/uuid.js