<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12 col-lg-offset-5">
            <p>Copyright &copy; UMass Bookshare 2015</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</footer>