h1 {
    text-align: left;
    font-weight: bold;
}

.navbar {
  /*background-color: #1E2C36;
  border-color: #1E2C36;*/
  background-color: #252525;
  border-color: #252525;
}
.navbar-brand{
    font-size: xx-large;
    font-weight: bold;
}
.navbar-inverse .navbar-brand {
    color:  #DDDDDD;
 }
.navbar .nav > li > a {
 	color: #DDDDDD;
 }

.row{
    margin-top: 10px;
}

/*.search-tabs .active a{
	background-color: #00994c;
}*/

.copyright{
	text-align: center;
}

/* Small devices (tablets, 768px and up) */
/*@media (min-width: 768px) { .navbar-form .form-control { width: 400px; }}*/

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: 992px) { .navbar-form .form-control { width: 600px; } }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) { .navbar-form .form-control { width: 800px; } }*/

/*.navbar .navbar-inverse > li > a:hover {
	color: #D45A23;  
}*/

.sidebar{
	background-color: #333333;
}

.nav-sidebar a {
  color: #bbbbbb;
}

.nav-sidebar > li > a:hover {
  color: #fff;
  background-color: #555555;
}