<!DOCTYPE html>
<html lang="en"><head>
  <title>About Page</title>
  <% include includes/header.ejs %>
  <link href="/stylesheets/about.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <% include partials/navbar.ejs %>

  <!-- Page Content -->
  <div class="container-fluid">

    <!-- Introduction Row -->
    <div class="row">
      <% include partials/sidebar.ejs %>
      <% include partials/searchbar.ejs %>

      <!-- About -->
      <div class="col-sm-8 col-sm-offset-2 main">
        <h1 class="page-header">About</h1>
        <p>The UMass-Bookshare team is dedicated to serving your every imaginable need.</p>

        <!-- Team Members Row -->
        <div class="col-lg-12">
          <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
          <!-- <img class="flipInX peter memberblock img-responsive img-center"> -->
          <img class="pichover flipInX peter memberblock img-responsive img-center" src="http://i.imgur.com/WWXFMgy.jpg">
          <h3>Peter Chau<br>
             <small>Job</small>
          </h3>
          <p>i do job</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
          <!-- <img class="flipInX walter memberblock img-responsive img-center"> -->
          <img class="flipInX walter memberblock img-responsive img-center" src="http://i.imgur.com/6mpqynd.jpg">
          <h3>Walter Doan<br>
              <small>Minion Pusheen</small>
          </h3>
          <p>Huh?</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
          <!-- <img class="flipInX amy memberblock img-responsive img-center"> -->
          <img class="flipInX amy memberblock img-responsive img-center" src="http://i.imgur.com/e9nJA3V.jpg">
          <h3>Amy Jiang<br>
              <small>Mechanic</small>
          </h3>
          <p>Fix de broked tings</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
          <!-- <img class="flipInX qiwen memberblock img-responsive img-center"> -->
          <img class="flipInX qiwen memberblock img-responsive img-center" src="http://i.imgur.com/FDD7EPv.jpg">
          <h3>Qiwen Wang<br>
              <small>Biker</small>
          </h3>
          <p>Biker memoirs.</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
          <!-- <img class="flipInX piers memberblock img-responsive img-center"> -->
          <img class="flipInX piers memberblock img-responsive img-center" src="http://i.imgur.com/McZfxdb.jpg">
          <h3>Piers Calderwood<br>
              <small>Sequelizer</small>
          </h3>
          <p>Sequelizer sentiments justification.</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
          <!-- <img class="flipInX bianca memberblock img-responsive img-center"> -->
          <img class="flipInX bianca memberblock img-responsive img-center" src="http://i.imgur.com/1OVF9q7.jpg">
          <h3>Bianca Tamaskar<br>
              <small>Church Builder</small>
          </h3>
          <p>Church building instructions.</p>
        </div>

        <div class="col-lg-4 col-sm-6 text-center">
          <!-- <img class="flipInX chris memberblock img-responsive img-center"> -->
          <img class="flipInX chris memberblock img-responsive img-center" src="http://i.imgur.com/LraYGaD.jpg">
          <h3>Chris Paika<br>
            <small>Trucker Stuff</small>
          </h3>
          <p>Description of trucker stuff.</p>
        </div>
      </div> <!-- col-sm-8 col-sm-offset-2 main -->
    </div> <!-- row -->

  </div> <!-- /.container-fluid -->
  
  <% include includes/footer.ejs %>
</body></html>