<!DOCTYPE html>

<html lang="en">
  <head>

    <title>Create an account</title>
    <% include includes/header.ejs %>
    <link href="/stylesheets/createaccount.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
      $(document).ready(function(){
        var user,pass,fname,lname,email,phone,school;
        $("#submit").click(function(){
          user=$("#username").val();
          pass=$("#password").val();
          fname=$("#firstName").val();
          lname=$("#lastName").val();
          email=$("#email").val();
          phone=$("#phone").val();
          school=$("#institution").val();
          $.post("/profile",{user: user,password: pass,fname: fname, lname: lname, 
            email: email, phone: phone, school: school}, function(data){
            if(data==='done')
              {
                alert("login success");
              }
          });
        });
      });
    </script>

  </head>

  <body>

    <% include partials/navbar.ejs%>

    <div class="container">
      <h1>Create an account</h1>

      <!-- Alert for bad entry -->
      <!-- <div class="alert alert-danger" role="alert">Oh crud! Try again!</div> -->

      <!-- grid -->
      <div class="row">
        <!-- profile picture -->
        <div class="col-md-4 col-md-offset-2">
          <label for="profilePicture">Profile picture</label>
          <div class="form-group">
            <!-- <label for="profilePicture">Profile picture</label> -->
 <!--              <img data-src="holder.js/200x200/auto/sky" class="img-thumbnail" alt="200x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzBEOEZEQiIvPjxnPjx0ZXh0IHg9Ijc0LjA1NDY4NzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0ZGRkZGRjtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjIwMHgyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true"> -->
              <span class="text-muted">Optional: Upload a profile picture</span>
            <input type="file" id="profilePicture"> <!--Fix to replace image-->

          </div> <!--form-group-->
        </div> 

        <!-- form -->
        <div class="col-md-4">
          <!-- <form action="/"> -->
            <div>
          <form>
            <div class="form">

              <label for="username">Username*</label>
                <input type="username" class="form-control" id="username" placeholder="Desired Username">

              <label for="password">Password*</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">

              <label for="confirmPassword">Confirm Password*</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Re-enter password">

              <label for="firstName">First Name*</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name">

              <label for="lastName">Last Name*</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">

              <label for="email">Email address*</label>
                <input type="email" class="form-control" id="email" placeholder="Email">

              <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" placeholder="Phone Number">

              <label for="institution">Institution</label>
                <input type="text" class="form-control" id="institution" placeholder="Name of College/University">

            </div>
            <a class="btn btn-md btn-primary" id="submit" type="submit" href="/profile">Create Account</a>
          </form>
        </div><!--col-md-4-->
      </div><!--row-->
    </div><!-- container -->

    <% include includes/footer.ejs %>
  
</body></html>