<!DOCTYPE html>

<html lang="en">
  <head>
    <title>404 Error</title>
    <% include includes/header.ejs %>
    <link href="/stylesheets/error.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <% include partials/navbar.ejs %>

    <div class="container">
      <h1>404 Error: This page does not exist</h1>
      <!-- Alert for bad entry -->
      <!-- <div class="alert alert-danger" role="alert">Oh crud! Try again!</div> -->

      <!-- grid -->
      <div class="row errmsg">
        <div class="error"><p>error :)</p></div>
      </div><!--row-->
    </div><!-- container -->
    
    <% include includes/footer.ejs %>
  </body>
</html>