<!DOCTYPE html>

<html lang="en"><head>
  <title>UMass Bookshare Home</title>
  <% include includes/header.ejs %>
<!--         <link href="/stylesheets/homepage.css" rel="stylesheet" type="text/css"/>  -->
</head>

<body>
  <% include partials/navbar.ejs %>
  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row">
      <% include partials/sidebar.ejs %>
      <% include partials/searchbar.ejs %>

      <!--Homepage stuff-->
      <div class="col-sm-8 col-sm-offset-2 main">
        <% include partials/carousel.ejs %>

        <!--Search results-->
        <div class="row search-results">
          <% for(var i = 0; i < recent.length; i++) { %>
            <%- include('partials/booksnippet.ejs', {data: recent[i]}) %>
          <% } %>
          
        </div><!--Search results-->
        <!-- Add pagination -->
      </div><!--Homepage stuff-->

    </div> <!--row-->
  </div><!--container-fluid-->
  
  <% include includes/footer.ejs %>
</body></html>