<!DOCTYPE html>

<html>
  <head>
    <title>Search Results</title>
    <% include includes/header.ejs %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  </head>

  <body>
    <% include partials/navbar.ejs %>
    <!-- rest of the page -->
    <div class="container-fluid">
      <div class="row">
        <% include partials/searchbar.ejs %>

        <div class="col-sm-8 col-sm-offset-2 main">
          <div class="row">
              <% include partials/resultbox.ejs %>
          </div>
        </div> <!-- col-sm-8 col-sm-offset-2 main -->
      </div>
    </div><!-- /.container-fluid -->

    <% include includes/footer.ejs %>
  </body>
</html>