<!DOCTYPE html>

<html lang="en"><head>
  <title>Search Page</title>
  <% include includes/header.ejs %>
  <!-- <link href="/stylesheets/search.css" rel="stylesheet" type="text/css"/> -->
</head>

<body>
  <% include partials/navbar.ejs %>
  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row">
      <% include partials/sidebar.ejs %>
      <% include partials/searchbar.ejs %>

      <!--Page stuff-->
      <div class="col-sm-8 col-sm-offset-2 main">          

        <!-- search results -->
        <div class="row search-results">
          <% for(var i = 0; i < hi.length; i++) { %>

            <%- include('partials/resultbox.ejs', {data: hi[i]}) %>    
          <% } %>
          
        </div> <!-- row search-results -->
        <!-- Add pagination -->
      </div><!--Homepage stuff-->

    </div> <!--row-->
  </div><!--container-fluid-->

  <% include includes/footer.ejs %>
</body></html>