<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <img src="/homepage_files/320x150">
    <div class="caption">
      <h4 class="pull-right">$6.66</h4>
      <h4><a href="#">Some Book Title</a></h4>
      <h6>by Some Author</h6>
      <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate orci dapibus....</p>
    </div>

    <!--Implement ratings later...-->
    <!-- <div class="ratings">
      <p class="pull-right">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </p>
        <p>Seller rating</p>
    </div> -->
  </div>
</div>