<!-- Gencd General navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <span minimaliza-sidebar="">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="" ng-click="minimalize()"><i class="fa fa-bars"></i></a>
      </span>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/home">UMass Bookshare</a>
      <!-- <li data-toggle="collapse" data-target="#order-type" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Order results by <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
      </li> -->
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/home">Search</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/">Login</a></li>
        <li><a href="/signup">Create an account</a></li>

        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>                    
          </ul>
        </li> -->
      </ul>

    </div> <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>