<!-- <div class="col-sm-4 col-lg-4 col-md-4"> -->
    <!-- <div class="thumbnail">
        <img src="/homepage_files/320x150">
        <div class="caption">
            <h4 class="pull-right">$6.66</h4>
            <h4><a href="#">Wouldn't You Like to Know</a></h4>
            <h6>by Morgan Freeman</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate orci dapibus....</p>
        </div> -->

        <!--Can include ratings later...-->
        <!-- <div class="ratings">
            <p class="pull-right">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </p>
            <p>Seller rating</p>
        </div>
    </div> -->

    <% for(var i = 0; i < hi.length; i++) { %>
    <!--prints list ID, username, isbn13, price-->
        <div class="col-sm-4 col-lg-4 col-md-4"><p><%= "List ID: " +hi[i].listid + " Username: " + hi[i].username + " ISBN 13: " +hi[i].isbn13+ " Price: " +hi[i].price %></p></div>
    <% } %>
<!-- </div> -->