<!-- searchbar tabs -->
<div class="row col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
    <!-- <div class="search-tabs" role="tabpanel"> -->

      <!-- <ul class="nav nav-tabs">
        <li><a href="#searchAll" data-toggle="tab">All</a></li>
        <li><a href="#searchBuy" data-toggle="tab">Buy</a></li>
        <li><a href="#searchRent" data-toggle="tab">Rent</a></li>
        <li><a href="#searchShare" data-toggle="tab">Share</a></li>
      </ul><br> -->

      <!-- Tab panes -->
      <!-- <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="searchAll"> Search all listings. </div>
        <div role="tabpanel" class="tab-pane" id="searchBuy"> Search books for sale. </div>
        <div role="tabpanel" class="tab-pane" id="searchRent"> Search books for rent. </div>
        <div role="tabpanel" class="tab-pane" id="searchShare"> Search books for sharing. </div>
      </div> -->

    <!-- </div> --> <!-- tabpanel -->

    <!--searchbar-->
    <div class="row searchbar">
      <div class="col-lg-12">

        <form action="/home" method="post">
          <div class="input-group">

            <input type="text" class="form-control" name="searchTerm" placeholder="Enter a book title, ISBN, author, course name, subject etc.">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit button">Go!</button>
            </span>

          </div><!-- /input-group -->
        </form>

      </div><!-- /.col-lg-6 -->
    </div> <!--row searchbar-->
  
</div> <!--row col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main