<div class="col-sm-3 col-md-2 sidebar" background-color: #ffffff>
  <ul class="nav nav-sidebar">
    <li class="active"><a href="http://getbootstrap.com/examples/dashboard/#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="">Your Account</a></li>
    <li><a href="">Edit Profile</a></li>
    <li><a href="">Your Orders</a></li>
    <li><a href="">Wishlist</a></li>
    <li><a href="">Selling</a></li>
  </ul>
</div>