<div class="col-sm-3 col-md-2 sidebar" id="sidebar" background-color: #ffffff>

  <div id="sidebar-content">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">All Books <span class="sr-only">(current)</span></a></li>
      <li><a href="">Buy</a></li>
      <li><a href="">Rent</a></li>
      <li><a href="">Your Wishlist</a></li>

      <!-- <li data-toggle="collapse" data-target="#order-type" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Order results by <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
      </li> -->
      
      <ul class="sub-menu collapse" id="order-type">
        <!--TODO: generate list-->
        <li><a href="">Relevance</a></li>
        <li><a href="">Price: Low to High</a></li>
        <li><a href="">Price: High to Low</a></li>
        <li><a href="">Seller Review</a></li>
      </ul>
      
      <li data-toggle="collapse" data-target="#majors-category" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Subject <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
      </li>  

      <ul class="sub-menu collapse" id="majors-category">
      	<!--TODO: generate list-->
      	<li><a href="">Biology</a></li>
      	<li><a href="">Chemistry</a></li>
      	<li><a href="">Classics</a></li>
      	<li><a href="">Computer Science</a></li>
      	<li><a href="">English</a></li>
      	<li><a href="">Food Science</a></li>
      	<li><a href="">French</a></li>
      	<li><a href="">Hospitality</a></li>
      	<li><a href="">Math</a></li>
      	<li><a href="">Psychology</a></li>
      	<li><a href="">Spanish</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#courses-category" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Course <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
      </li>  
      <ul class="sub-menu collapse" id="courses-category">
      	<!--TODO: generate list-->
      	<li><a href="">Apple Picking</a></li>
      	<li><a href="">Bacon</a></li>
      	<li><a href="">Basket Weaving</a></li>
      	<li><a href="">Mmmmm Bacon</a></li>
      	<li><a href="">Mushroom Growing</a></li>
      	<li><a href="">The Art of Jaywalking</a></li>
      </ul>

    </ul>
  </div> <!-- sidebar-content -->
</div>

<div class="col-sm-offset-2">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </button>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $("button").click(function(){
      // $if(true){
        $("sidebar").toggleClass("hide");
        // $('#sidebar').animate({
          // left: -225,
        // });
      // }else{
        // $('#sidebar').animate({
          // left: 0,
        // });
      // }
    });
  });
</script>

