	<div class="col-sm-3 col-md-2 sidebar">

	  <ul class="nav nav-sidebar">
	    <li><a href="#">Your Account</li>
	    <li><a href="">Edit Profile</a></li>
	    <li><a href="">Your Orders</a></li>
	    <li><a href="">Wishlist</a></li>
	    <li><a href="/createlisting">Sell</a></li>
	    <li><a href="/logout">Logout</a></li>
	  </ul>

	</div>